body {
    background: wheat;
}

.mdl-layout__content {

    background: white;
    margin-left: 150px;
    margin-right: 150px;
}

.movie-content {
    margin: 16px;
    display: flex;
}

.movie-image {
    float: left;
}

.movie-info {
    clear: right;
    margin-left: 32px;
}

.movie-title {
    float: left;
}

.movie-ratings {
    float: right;
}

.content {
    clear: both;
}

.total-ratings {

}

.sub-text {
    margin-top: 10px;
    margin-bottom: 10px;
}

.separator {
    margin-left: 4px;
    margin-right: 4px;
}

.imdb-img {
    margin-left: 4px;
}

.meta-score {
    margin-left: 64px;
    margin-right: 4px;
    height: 32px;
    width: 32px;
    background: green;
    text-align: center;
    line-height: 32px;
    vertical-align: middle;
    font-size: 16px;
    padding: 8px;
    color: white;
}

.movie-director {
    margin-top: 32px;
}

.director-heading {
    color: grey;
    font-size: 16px;
}

.movie-cast {
    padding-left: 16px;
    padding-right: 16px;
}

.details {
    clear: both;
}

.comment-section {
    padding-left: 32px;
    padding-right: 32px;
}

.user-comment-list {
    margin-left: 32px;
    margin-right: 32px;
    background: lightyellow;
}

.current-user_comment-box {
    margin-left: 32px;
    margin-right: 32px;
}

.comment-box {
    border-color: #009688;
}

.comment::placeholder {
    padding-top: 8px;
    padding-left: 8px;
}

.comment-button {
    margin: 16px;
    float: right;
}

/* Basic styles */

.row {
    text-align: center;
}

.rate {
    display: inline-block;
    margin-top: 16px;
}

input {
    display: none;
}

label {
    float: right;
    font-size: 0;
    color: #d9d9d9;
}

label:before {
    content: "\f005";
    font-family: FontAwesome;
    font-size: 28px;
}

label:hover,
label:hover ~ label {
    color: #fcd000;
    transition: 0.2s;
}

input:checked ~ label {
    color: #ccac00;
}

input:checked ~ label:hover,
input:checked ~ label:hover ~ label {
    color: #fcd000;
    transition: 0.2s;
}

/* Half-star*/

.star-half {
    position: relative;
}

.star-half:before {
    position: absolute;
    content: "\f089";
    padding-right: 0;
}

.rating-separator {
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 49px;
}
.total-ratings
{
    margin-right: 16px;
}